{% extends 'base.html' %}
{% block respuesta%}
<div class="container px-4 text-center">
    <div class="row gx-5">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Consulta</h5>
                    <p class="card-text">{{data.español}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row gx-5">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Traducción</h5>
                    <p class="card-text">{{data.ingles}}</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Etiquetado</h5>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">CUI</th>
                                <th scope="col">Etiquetado</th>
                                <th scope="col">Frase</th>
                                <th scope="col">Inicio</th>
                                <th scope="col">Final</th>
                                <th scope="col">Puntaje</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% cont=0 %}
                            {% for fila in data.objects %}
                            <tr>
                                <th scope="row">{{cont}}</th>
                                {% for iteam in fila %}
                                <td>{{iteam}}</td>
                                {% endfor %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                    <p class="card-text">{{data.objects}}/p>
                </div>
            </div>
        </div>
    </div>
    <div class="row gx-5">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Atómo</h5>
                    <p class="card-text">{{data.atomos}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}